@import '../../../styles/colors.scss';

.paragraph {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.175px;
    mix-blend-mode: normal;
    opacity: 0.5;
    color: $text;
    margin: 0;
  }
  