.heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: var(--color-text);
}
.heading-primary {
  margin-bottom: 16px;
}
.heading-primary-two {
  letter-spacing: 0.4px;
  color: var(--primary-one);
  mix-blend-mode: normal;
  margin-bottom: 16px;
  font-weight: 300;
  opacity: 0.8;
  white-space: nowrap;
}
.heading-secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: var(--color-text);
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 8px;
}
.heading-secondary-two {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: var(--primary-one);
  mix-blend-mode: normal;
  margin-bottom: 8px;
}
.heading-tertiary {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.35px;
  opacity: 0.5;
}
